#header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/portfolio-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 550px;
  position: relative;
  opacity: 0.95;

  @media only screen and (max-width: 768px) {
    height: 450px;
  }

  nav {
    width: 100%;
    height: 42px;

    &.sticky {
      position: fixed;
      top: 0;
      background-color: #15465f;
      z-index: 10;
      padding: 0px;
      @media only screen and (max-width: 576px) {
        background-color: transparent;
        .container {
          button {
            background-color: #15465f;
          }
        }
      }
    }
    .container {
      justify-content: center;
      position: relative;
      button {
        outline: unset;
        position: relative;
        &.close {
          z-index: 100;
          top: 10px;
          right: 10px;
        }
        .navbar-toggler-icon {
          font-size: 15px;
        }
      }
      .slickMenu {
        //transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        &.show {
          display: block;
          position: fixed;
          left: -31vw;
          top: 0px;
          height: 100% !important;
          width: 30vw;
          background: linear-gradient(#15465f 0%, #000 80%);
          transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
          transform: translate3d(30vw, 0, 0);
          z-index: 50;
          ul {
            display: block;
            padding: 100px 0px;
            position: absolute;
            top: 35%;
            left: 30%;
            @media only screen and (max-width: 768px) {
              padding: 50px 0px;
              a {
                font-size: 14px;
              }
            }
            @media only screen and (max-width: 576px) {
              padding: 40px 0px;
              a {
                font-size: 10px;
              }
            }
          }
        }

        ul {
          border-radius: 2rem;
          li {
            a {
              color: white;
              border-radius: 2rem;
              font-size: 18px;
              &:hover {
                background-color: grey;
              }
            }
          }
        }
      }
      //Hide Navigation for medium to small devices
      //(Use slickMenu show instead)
      @media only screen and (max-width: 576px) {
        justify-content: unset;
        .slickMenu {
          ul {
            display: none;
          }
        }
      }
    }
  }
  .container {
    color: white;
    text-align: center;

    .profileComp {
      margin-top: 60px;
      #profilePic {
        border-radius: 50%;
        height: 200px;
        width: 200px;
      }
      .profileConnect {
        a {
          display: inline-block;
          background-color: rgb(21, 70, 95);
          color: white;
          padding: 6px;
          border-radius: 5px;
          width: 166px;
          height: 10%;

          &:hover {
            text-decoration: none;
            background-color: rgb(89, 168, 207);
          }
        }
        .socialConnect {
          a {
            width: 40px;
          }
        }
      }
      @media only screen and (max-width: 992px) {
        margin-top: 0px;
      }
      @media only screen and (max-width: 768px) {
        #profilePic {
          height: 100px;
          width: 100px;
        }
        h1 {
          font-size: 28px;
        }
        h5 {
          font-size: 16px !important;
        }
        .profileConnect {
          a {
            font-size: 13px;
            width: 115px;
            padding: 2px;
          }
        }
      }
    }
  }
}
.aboutComp {
  font-size: 14px;
  padding-top: 40px;
  .jumbotron {
    padding: 30px 20px;
    @media only screen and (max-width: 576px) {
      text-align: center;
    }
  }
}
.experienceComp {
  padding-top: 60px;
  /* The actual timeline (the vertical ruler) */
  ul {
    position: relative;
    z-index: -1;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #e9ecef;
    top: 0;
    bottom: 0;
    // left: 50%;
    margin-left: -3px;
    z-index: -2;
  }

  /* Container around content */
  .container {
    padding: 10px 0px 10px 40px;
    position: relative;
    .content {
      li {
        background-color: #e9ecef;
        border: none;
        z-index: -2;
      }

      .techStack {
        list-style: none;
        padding-top: 20px;
        li {
          background-color: #15465f;
          width: fit-content;
          text-align: center;
          color: white;
          padding: 0px 3px;
          border-radius: 5px;
          margin: 5px;
        }
      }
    }
  }

  /* The circles on the timeline */
  .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -15px;
    //right: -17px;
    background-color: white;
    border: 4px solid #15465f;
    border-width: 15px;
    top: 15px;
    border-radius: 50%;
    z-index: -1;
  }
  /* Add arrows to the right container (pointing left) */
  .container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e9ecef transparent transparent;
    z-index: -1;
  }

  @media only screen and (max-width: 576px) {
    .container {
      padding: 10px 0px 10px 30px;
    }
    /* The circles on the timeline */
    .container::after {
      content: "";
      width: 10px;
      height: 10px;
      left: -10px;
      top: 22px;
      border-width: 10px;
    }
    /* Add arrows to the right container (pointing left) */
    .container::before {
      content: " ";
      left: 20px;
    }
  }
}

.skillComp {
  padding-top: 60px;
  .skills1,
  .skills2,
  .skills3 {
    display: flex;
    .skillSet1,
    .skillSet2 {
      width: 50%;
      margin: 15px;
      .progress {
        height: 5px;
        margin-bottom: 15px;
        .progress-bar {
          background-color: #15465f !important;
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    font-size: 12px;
    .skills1,
    .skills2,
    .skills3 {
      display: block;
      padding: 5px 0px;
      .skillSet1,
      .skillSet2 {
        width: auto;
        margin: 15px;
      }
    }
  }
}

.educationComp {
  margin: 2rem 1rem;
  padding-top: 50px;
  .card {
    z-index: -1;
    .row {
      .col-md-3 {
        background-color: #15465f;
        color: white;
        text-align: center;
        .card-body {
          padding-top: 55px;

          @media only screen and (max-width: 768px) {
            padding: 20px 0px;
          }
        }
      }
      .col-md-9 {
        background-color: #e9ecef;
      }
    }
  }
}

.contactComp {
  .card {
    position: relative;
    z-index: -1;
    background-color: #15465f;
    color: white;
    border: none;
    border-radius: unset;
    .card-body {
      display: "flex";
      border: none;
      text-align: center;
    }
    .row {
      margin: unset;
    }
  }
  // @media only screen and (max-width: 767px) {
  //   .card-body {
  //     display: block;
  //   }
  // }
}
.media-links {
  border: none;
  background-color: #15465f;
}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
